/* Main.css */

/* Colors:
Olive Green: #92987E
Burnt Red: #CC575D
Blue Grey: #78909C
Teal: #68B2AD
Gold/Beige: #E0CFAF
Sky Blue: #03A9F4
Background, steel grey: #383C4A
Off white: #D3DAE3
Pink : #F6868C;
*/

/* COLOR DEFINITIONS */
/* ==========================BACKGROUND========================*/
.steel-grey-bg{
  background-color: #383C4A;
}
.burnt-red-bg{
  background-color: #CC575D;
}

.olive-green-bg{
  background-color: #92987E;
}

.blue-grey-bg{
  background-color: #78909C;
}

.teal-bg{
  background-color: #68B2AD;
}

.gold-bg{
  background-color: #E0CFAF;
}

.off-white-bg{
    background-color: #D3DAE3;
}

.faded-purple-bg{
    background-color: #8F7991;
}

.purple-grey-bg{
    background-color: #847983;
}

.pink-bg{
  background-color: #e2858a;
}

/* ==========================TEXT COLORS========================*/
.steel-grey-text{
  color: #383C4A;
}

.burnt-red-text{
  color: #CC575D;
}

.olive-green-text{
  color: #92987E;
}

.blue-grey-text{
  color: #78909C;
}

.teal-text{
  color: #68B2AD;
}

.gold-text{
  color: #E0CFAF;
}

.off-white-text{
    color: #D3DAE3;
}

.dark-text{
    color: #1d1e21;
}

/* +++++++++++++++++++++++ FONTS +++++++++++++++++++++++ */

/*.lato{
  Now using source-code-pro
    font-family: 'Lato', sans-serif;
}*/

.raleway{
    font-family: 'Raleway', sans-serif;
}
.megrim{
    font-family: 'Megrim', cursive;
}

.source-code-pro{
    font-family: 'Source Code Pro', monospace;
}

 /* +++++++++++++++++++++++ MAIN +++++++++++++++++++++++ */


.head{
  font-weight: 100;
  text-decoration-style: none;
  font-size:50px
}

.fixed{
  position: fixed;
  text-align: center;
}
.subsection-1{
  width: 900px;
}

a {
  text-decoration: none;
  color: inherit;
}

.section-head{
    padding-top: 18px;
    font-size: 40px;
}

.contents{
    font-size: 17px;
    padding-bottom: 10px;
}

.contact{
    font-size: 18px;
    padding-bottom: 10px;
}

.side-nav{
  background-color: inherit;
  width: 9%;
  padding-top: 20px;

}

.side-nav li > a{
    color: #E0CFAF;
    text-decoration:none;
    font-family: 'Source Code Pro', monospace;

}

.parallax-container{
    height: 600px;
}

.subsection-head{
  font-size: 30px;
  padding-top: 10px;
  margin-bottom: 3px;
}

.divider{
  color: #E0CFAF;
}

.section-title{
  padding-left: 15px;
  font-size: 17px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.section-contents{
  padding-left: 65px;
  margin-bottom: 3px;
}

/*.row .col{
  padding-left:0px;
}*/

