/* Main.css */

body{
  background-color: #383C4A;
  font-family: 'Lato', sans-serif;
}

.head{
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: Raleway, sans-serif;
  color: #D3DAE3;
  font-weight: 100;
  text-decoration-style: none;
  font-size:30px
}

.container-1{
  background-color: white;
}


a {
  text-decoration: none;
  color: inherit;
}


